@import url(../css/fonts.css);
header {
  background-color: #85241E;
}

.navbar {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0;
}

.navbar .site-title-head {
  font: 500 1.125rem Montserrat Regular, sans-serif;
  line-height: 22px;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar .navbar-collapse .navbar-list .nav-item {
  padding: 0 10px;
  border-bottom: 5px solid transparent;
}

.navbar .navbar-collapse .navbar-list .nav-item:hover {
  border-top: 2px solid #FFF;
  color: #FFF;
  border-bottom: 2px solid #FFF;
}

.navbar .navbar-collapse .navbar-list .nav-item:hover .nav-link {
  color: #FFF;
}

.navbar .navbar-collapse .navbar-list .nav-item .nav-link {
  color: #000;
  font: 500 1.125rem Montserrat Regular, sans-serif;
  opacity: .8;
}

.navbar .navbar-collapse .navbar-list .active {
  border-top: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
}

.navbar .navbar-collapse .navbar-list .active .nav-link {
  color: #FFF;
}

.navbar .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 0.8125rem Open Sans Regular, sans-serif;
  opacity: .8;
}

.navbar .contacts .contact-item a:hover {
  opacity: 1;
  color: #FFF;
}

footer {
  background-color: #3A2F2F;
}

footer .contacts .contact-item i {
  color: #FFDEDC;
  font-size: 20px;
}

footer .contacts .contact-item a {
  text-decoration: none;
  color: #FFDEDC;
  font: 600 14px Open Sans Regular, sans-serif;
  opacity: .8;
}

footer .contacts .contact-item a:hover {
  opacity: 1;
}

footer .color-wrapper {
  color: #FFF;
  background-color: #423838;
}

footer .color-wrapper p {
  font: 600 18px Montserrat Regular, sans-serif;
  margin: 0;
}

footer .color-wrapper a {
  text-decoration: none;
  color: #FFF;
}

footer .color-wrapper a img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  display: block;
  background-color: #FFDEDC;
  padding: 5px 0 5px 40px;
  border-left: 5px solid #85241E;
  font: 600 1.875rem Montserrat Regular, sans-serif;
  line-height: 42px;
  letter-spacing: 0.03em;
}

#project-description {
  background-image: url(../img/section_1_bg.png);
}

.description-wrapper {
  padding-top: 4%;
  margin-right: 0;
}

.description-wrapper .description-info {
  padding-top: 5%;
}

.description-wrapper .description-info h1 {
  font: 600 3rem Montserrat Regular, sans-serif;
}

.description-wrapper .description-info p {
  font: 400 1.5rem Open Sans Regular, sans-serif;
  line-height: 40px;
  padding: 16px 0 40px 0;
}

.description-wrapper .description-info .button {
  display: inline-block;
  text-decoration: none;
  padding: 20px 40px;
  font: 600 1.2rem Montserrat Regular, sans-serif;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFF;
  background-color: #FF8982;
  opacity: .8;
  border-radius: 0;
  overflow: hidden;
}

.description-wrapper .description-info .button:hover {
  color: #85241E;
  border: 2px solid #85241E;
  background-color: #FFF;
}

.description-wrapper .description-info .button:active {
  color: #FFF;
  background-color: #85241E;
  opacity: .8;
}

#our-mission .mission-list {
  padding: 30px 0;
}

#our-mission .mission-list .mission-item {
  position: relative;
  background-color: #F8F8F8;
  margin: 0 10% 0 0;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
}

#our-mission .mission-list .mission-item .open-more-1, #our-mission .mission-list .mission-item .open-more-2, #our-mission .mission-list .mission-item .open-more-3 {
  position: relative;
  padding-bottom: 20px;
}

#our-mission .mission-list .mission-item .open-more-1::after, #our-mission .mission-list .mission-item .open-more-2::after, #our-mission .mission-list .mission-item .open-more-3::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-top: 10px solid #FFDEDC;
  top: 0;
  left: 45%;
  bottom: 0;
  right: 0;
}

#our-mission .mission-list .mission-item .open-more-1:hover::after, #our-mission .mission-list .mission-item .open-more-2:hover::after, #our-mission .mission-list .mission-item .open-more-3:hover::after {
  border: 10px solid transparent;
  border-top: 10px solid #FFDEDC;
}

#our-mission .mission-list .mission-item .open-more-1:active::after, #our-mission .mission-list .mission-item .open-more-2:active::after, #our-mission .mission-list .mission-item .open-more-3:active::after {
  top: 0;
  left: 45%;
  bottom: 0;
  right: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #BBBBBB;
}

#our-direction {
  background-color: #ECECEC;
  padding: 5% 0;
}

#our-direction .card-deck {
  margin-top: 5%;
}

#our-direction .card-deck .card {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

#our-direction .card-deck .card .card-header {
  padding: 0;
  margin: 0;
}

#our-direction .card-deck .card .card-body {
  padding: 0;
  margin: 0;
  background-color: #FFF;
}

#our-direction .card-deck .card .card-body .card-title {
  padding: 24px 32px 0 32px;
  font: 600 1.4375rem Montserrat Regular, sans-serif;
  line-height: 32px;
  margin: 0;
}

#our-direction .card-deck .card .card-body .card-text {
  padding: 16px 32px 32px 32px;
  font: 500 1rem Open Sans Regular, sans-serif;
  line-height: 34px;
}

#linguee {
  padding: 5% 0;
}

#linguee .gray-color-wrapper {
  background-color: #ECECEC;
}

#linguee .gray-color-wrapper h3 {
  font: 600 1.4375rem Montserrat Regular, sans-serif;
  padding: 3%;
}

#linguee .gray-color-wrapper p {
  font: 400 1rem Open Sans Regular, sans-serif;
  text-indent: 16px;
  line-height: 34px;
  padding: 0 1% 2% 3%;
  margin-bottom: 0;
}

#linguee .description-pic {
  padding: 0;
}

#linguee .description-pic img {
  height: 101%;
}
