header
    background-color: $main-color
.fixed
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
    transition: .4s ease-in all
.navbar
    flex-grow: 0
    padding: 0
    .site-title-head
        font: 500 1.125rem $main-font
        line-height: 22px
    .navbar-collapse
        flex-grow: 0 
        .navbar-list
            .nav-item      
                padding: 0 10px
                border-bottom: 5px solid transparent
                &:hover
                    border-top: 2px solid $white
                    color: $white
                    border-bottom: 2px solid $white
                    .nav-link
                        color: $white               
                .nav-link
                    color: $black  
                    font: 500 1.125rem $main-font
                    opacity: .8                         
            .active
                border-top: 5px solid $white
                border-bottom: 5px solid $white
                .nav-link
                    color: $white             
    .contacts
        .contact-item
            a
                text-decoration: none
                color: $dirty-white
                font: 600 0.8125rem $second-font
                opacity: .8
                &:hover
                    opacity: 1
                    color: $white