@import variables.sass
@import url(../css/fonts.css)
@import _header.sass
@import _footer.sass
@import _mixins.sass

#project-leader
    padding: 5% 0 0 0
    .container
    .leader-description 
        background-color: $bgc
        h3
            font: 600 1.5rem $second-font
            line-height: 40px
            padding-left: 5%
        p
            font: 400 1.125rem $second-font
            line-height: 34px
            padding-left: 5%
            text-indent: 1rem
        h4
            font: 600 1.5rem $second-font
            line-height: 40px
            padding: 0 0 0 5%
        li
            color: $main-color
            font: 700 1.125rem $main-font
            line-height: 32px
            padding-left: 5%
        i
            padding: 0 0 0 5% 
#motivation
    p
        font: 400 1rem $second-font
        line-height: 34px
        text-indent: 16px
            